@import play.data.Form
@(title:String, action:String, url:play.api.mvc.Call, form:Form[MataKuliah])

@layout.main(action + " Mata Kuliah", action + " Mata Kuliah"){
    <div class="panel-body">

        <div id="messages-div">
            @if(flash.containsKey("success")) {
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    @flash.get("success")
                </div>
            }
            @if(flash.containsKey("error")) {
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    @flash.get("error")
                </div>
            }
        </div>

        <form action="@url" method="POST" class="form-horizontal" id="form-matkul" enctype="multipart/form-data">

            <div class="form-group">
                <input type="hidden" id="id" name="@form("id").name()" value="@form("id").value()">
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="name">Nama Mata Kuliah</label>
                <div class="col-lg-4">
                    <input type="text" class="form-control" name="name" id="name" value="@form("name").value()">
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-4">
                    <a href="@routes.MatkulController.index()" class="btn btn-warning" id="btn-back">
                        Kembali
                    </a>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </div>
            </div>
        </form>
    </div>
}