@layout.main("List Admin", "List Admin", scripts) {
    <div id="messages-div">
        @if(flash.containsKey("success")) {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                @flash.get("success")
            </div>
        }
        @if(flash.containsKey("error")) {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                @flash.get("error")
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12" style=" margin-bottom: 30px;">
            <a class="btn btn-info btn-sm pull-right" href="@controllers.routes.AdminController.add()">
                <i class="fa fa-plus"></i> Tambah Admin
            </a>
        </div>
    </div>
    <div class="box-body data-tables table-responsive table-invest">
        <table id="admin" class="table table-hover">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama Admin</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
}

@scripts = {
    <script type="text/javascript">
            $(document).ready(function () {
                $('#admin').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": "@controllers.routes.AdminController.listAdmin()"
                });
            });

            function deleteDataAdmin(id) {
                if (confirm('Are you sure delete ?')) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/delete/' + id,
                        data: {
                            id: id
                        },
                        success: function (res) {
                            alert(res.message);
                            window.location.reload();
                        },
                        error: function (res) {
                            alert(res.message);
                            window.location.reload();
                        }
                    });
                }
            }

    </script>
}